NODE_ENV=development

PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/softmind_assessment
REDIS_URL=redis://127.0.0.1:6379
CACHE_TTL_SECONDS=
TASKS_CACHE_TTL_SECONDS=

# Auth
JWT_SECRET=
JWT_EXPIRES_IN=
BCRYPT_SALT_ROUNDS=
AUTH_COOKIE_NAME=
AUTH_COOKIE_MAX_AGE_MS=
CLIENT_ORIGIN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

